@{
    ViewData["Title"] = "Access Denied";
}
<h4 class="text-center alert alert-danger alert-heading">Acces Denied!</h4>
<hr />
<div class="alert alert-danger alert-dismissible fade show">
    <strong>Please login !</strong> you dont have permssion to view this page.
    <p>
        @{
            if (ViewBag.Error != null)
            {
                @ViewBag.Error
            }
        }
    </p>

</div>