@model ForgotPasswordResetViewModel

@{
    ViewData["Title"] = "Rest Password";
}

<h4 class="text-center">Rest Passowrd</h4>
<hr />

<form asp-action="ForgotPasswordReset" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Email" hidden class="form-control" />

    <input asp-for="token" hidden class="form-control" />
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label asp-for="Password" class="form-label" for="form2Example1">New Password</label>
        <input asp-for="Password" required placeholder="New Password" id="form2Example1" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <label asp-for="ConfirmPassword" class="form-label" for="form2Example">Current Password</label>
        <input asp-for="ConfirmPassword" required placeholder="Current Password" id="form2Example" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Change</button>
</form>

