@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot Password";
}

<h4 class="text-center">Forgot Passowrd</h4>
<hr />

<form asp-action="ForgortPassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label asp-for="Email" class="form-label" for="form2Example1">Email Address</label>
        <input asp-for="Email" required placeholder="Email Address" id="form2Example1" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
</form>


