<div>
    <div class="card-header text-center alert-primary">      
        <a asp-action="Precise" asp-controller="Account">
            Assing Doctor Assisting Prectise
        </a>
    </div>
    <div class="card-header text-center alert-success">
        
        <a asp-action="NewPrecise" asp-controller="Account">
            Assing Doctor New Prectise
        </a>
    </div>
</div>