@model RegisterUserModel
@{
    ViewData["Title"] = "SignUp";
}
<h4 class="text-center">SignUp</h4>
<hr />
<script src="~/lib/jquery/dist/jquery.js"></script>
<form asp-action="Register" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">First name</label>
                <input asp-for="FirstName" placeholder="First Name" required id="form3Example1" class="form-control" />

                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example2">Last name</label>
                <input asp-for="LastName" placeholder="Last Name" required id="form3Example2" class="form-control" />

                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3">Email address</label>
        <input asp-for="Email" placeholder="Email Address" required id="form3Example3" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3">Cell Number</label>
        <input asp-for="CellNumber" placeholder="Cell Number" required id="form3Examle3" class="form-control" />
        <span asp-validation-for="CellNumber" class="text-danger"></span>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3">Identity Number</label>
        <input asp-for="IdendityNumber" placeholder="Identity Number /Passport" required id="form3Examle3" class="form-control" />
        <span asp-validation-for="IdendityNumber" class="text-danger">@if(ViewBag.Id != null)
        {
            @ViewBag.Id
        }
        </span>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">Password</label>
                <input asp-for="Password" required id="form3Example1" class="form-control" />

                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example2">Confirm Password</label>
                <input asp-for="ConfirmPassword" required id="form3Example2" class="form-control" />

                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">Address Line 1</label>
                <input asp-for="AddressLine1" required id="form3Example1" class="form-control" />

                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example2">Address Line 2</label>
                <input asp-for="AddressLine2" required id="form3Example2" class="form-control" />

                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">Suburb</label>
                <input asp-for="SuburbName" required id="form3Example1" class="form-control" />

                <span asp-validation-for="SuburbName" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example2">PostCode</label>
                <input asp-for="PostCode" required id="form3Example2" class="form-control" />

                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="dropdown">
        <label class="form-label" for="form3Example3">Gander</label>
        <span> <select required asp-for="GanderId" id="DoctorSpecializationId" class="dropdown-item alert alert-primary small" asp-items=" ViewBag.GanderId"></select></span>
        <span asp-validation-for="GanderId" class="text-danger"></span>

    </div>

    <!-- Email input -->
    <div class="dropdown">
        <label class="form-label" for="form3Example3">Province</label>
        <span> <select required asp-for="ProvinceId" id="ProvinceId" class=" dropdown-item alert alert-primary" asp-items=" ViewBag.ProvinceId"></select></span>
        <span asp-validation-for="ProvinceId" class="text-danger"></span>

    </div>
    <div class="dropdown">
        <label class="form-label" for="form3Example3">City</label>
        <span> <select asp-for="CityId" id="CityId" class="dropdown-item alert alert-primary small" asp-items="@(new SelectList(string.Empty,"Value","Text"))"></select></span>
        <span asp-validation-for="CityId" class="text-danger"></span>

    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
</form>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#ProvinceId').change(function () {
            var ddlsourse = "#ProvinceId";
            $.getJSON("/Account/GetCityById", { id: $(ddlsourse).val() }, function (data) {
                var items = '';
                $("#CityId").empty();
                $.each(data, function (i, Cate) {
                    items += "<option value=" + Cate.value + ">" + Cate.text + "</option>";
                });
                $('#CityId').html(items);
            });
        });
    });
</script>