@model PrescriptionModel
@{
    ViewData["Title"] = "Prescription";
}
<h4 class="text-center">Prescription </h4>
@if (ViewBag.Data != null)
{
    <div class="alert alert-success alert-success fade show">
        <strong>Request was successfull !</strong>  @{
            if (ViewBag.Error != null)
            {
                @ViewBag.success
            }
        }
    </div>
}
<hr />

<form asp-action="Index" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PatientId" />
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">Quantity</label>
                <input asp-for="Quantity" placeholder="Quantity" required id="form3Example1" class="form-control" />

                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example2">Last name</label>
                <input asp-for="Repeat" placeholder="Repeat" required id="form3Example2" class="form-control" />

                <span asp-validation-for="Repeat" class="text-danger"></span>
            </div>
        </div>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form3Example3">Email address</label>
        <input asp-for="Instruction" placeholder="Instruction" required id="form3Example3" class="form-control" />
        <span asp-validation-for="Instruction" class="text-danger"></span>
    </div>
    <div class="dropdown">
        <label class="form-label" for="form3Example3">Gander</label>
        <span> <select required asp-for="MedicationId" id="DoctorSpecializationId" class="dropdown-item alert alert-primary small" asp-items=" ViewBag.MedicationId"></select></span>
        <span asp-validation-for="MedicationId" class="text-danger"></span>

    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
</form>
