@model MedicationCategoryModel
@{
    ViewData["Title"] = "Create Medicatal Category";
}
<h4 class="text-center">Create Medicatal Category</h4>
<hr />
@if (ViewBag.Data != null)
{
    <h4 class="text-center alert alert-success alert-heading"> @ViewBag.Data</h4>
}
<form asp-action="CreateMedicationCategory" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <label class="form-label" for="form3Example1">Medicatal Category</label>
                <input asp-for="MedicationCategoryName" placeholder="Medicatal Category" required id="form3Example1" class="form-control" />

                <span asp-validation-for="MedicationCategoryName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
</form>
